---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "404 Error";
---
<BaseLayout pageTitle={pageTitle}>
  <section class="prose mx-auto max-w-prose mt-28 px-8">
    <h1 class="mb-8">404 Error</h1>
    <div class="prose">
      <p>Page not found.</p>
      <a href="/">Home</a>
    </div>
  </section>
</BaseLayout>
