---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";

import portraitImg from "@/assets/portrait.jpg";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="mx-auto mt-28 px-8">
    <div
      class="flex flex-col items-center sm:items-start sm:grid sm:grid-cols-2 gap-12"
    >
      <div
        class="h-80 w-80 sm:justify-self-end object-fill rounded shadow-md shadow-night"
      >
        <Image
          src={portraitImg}
          alt="tiffany nguyen"
          class="h-full w-full sm:justify-self-end object-cover rounded"
        />
      </div>
      <div class="prose max-w-prose">
        <h1 class="mb-8">Meet the Owner - Tiffany Nguyen</h1>
        <p>Licensed Aesthetician Certified in Oncology Aesthetics</p>
        <p class="mx-auto">
          Tiffany comes from an art background with a BFA from Maryland
          Institute College of Art and is also a licensed Permanent Makeup
          Artist, a Massachusetts state-licensed instructor with Pigmenta
          Permanent Cosmetics Academy, a Certified Professional Cosmetic
          Practitioner, and an active member of the Society of Permanent
          Cosmetic Professionals.
        </p>
        <p>
          She is very passionate about individualized skin care and helping
          others with her services, knowledge, and experience with Korean
          products and routines. From her experience as a teacher, she knows how
          important it is to listen to your concerns and guide you with home
          care recommendations and instructions to extend the improvements
          following her services.
        </p>
        <p>
          Aside from being a licensed Aesthetician, she is also certified in
          Oncology Aesthetics through Oncology Spa Solutions to safely service
          individuals with medically compromised skin. Through this specialty,
          she regularly offers facials to clients of the Virginia Thurston
          Healing Garden, a cancer support center in Harvard, MA. These services
          are also available for individuals with medically reactive skin, or
          skin that is altered from injury or medical procedures, such as
          scarring, rosacea, and chemotherapy.
        </p>
        <p>
          When Tiffany is not in the office, she enjoys practicing ballet,
          figure skating, hiking, and archery.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
