---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";

import portraitImg from "@/assets/portrait.jpg";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="mx-auto mt-28 px-8">
    <div class="w-full flex flex-col items-center gap-12">
      <div class="prose max-w-prose">
        <h1 class="mb-8">Meet the Owner</h1>
        <div class="w-full flex flex-col items-center gap-6">
          <Image
            src={portraitImg}
            alt="tiffany nguyen"
            class="h-full w-full object-cover rounded mb-6"
          />
        </div>
        <h2 class="text-4xl mb-1">Tiffany Nguyen</h2>
        <p class="italic">
          Licensed Aesthetician Certified in Oncology Aesthetics
        </p>
        <p>
          Tiffany comes from an art background with a BFA from the Maryland
          Institute College of Art and is also a licensed Permanent Makeup
          Artist, a Massachusetts state-licensed instructor with Pigmenta
          Permanent Cosmetics Academy, a Certified Professional Cosmetic
          Practitioner, and an active member of the Society of Permanent
          Cosmetic Professionals. She is committed to staying up to date with
          the latest in the industry with her membership with the National
          Coalition of Estheticians Association.
        </p>
        <p>
          She is very passionate about individualized, holistic skin care that
          focuses on wellness and believes that beauty should be a side effect
          from working towards overall health as the main goal. Tiffany proudly
          helps others with her services, knowledge, and experience with Korean
          products and routines. She simplifies the process and tailors each
          client's service plan based on their personal goals, needs, and
          budget. From her experience as a teacher, she knows how important it
          is to listen to your concerns and will guide you outside of the office
          with home care recommendations and instructions to extend the
          improvements following her services.
        </p>
        <p>
          Aside from being a licensed Aesthetician, she is also certified in
          Oncology Aesthetics through Oncology Spa Solutions to safely service
          individuals with medically compromised skin. Through this specialty,
          she regularly offers facials to clients of the Virginia Thurston
          Healing Garden, a cancer support center in Harvard, Massachusetts.
          These services are also available to clients in the office for
          individuals with medically reactive skin, or skin that is altered from
          injury or medical procedures, such as skin sensitivity, scarring,
          rosacea, and chemotherapy.
        </p>
        <p>
          When Tiffany is not in the office, she enjoys practicing ballet,
          figure skating, hiking, and archery.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
