---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";

import portraitImg from "@/assets/portrait.jpg";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="mx-auto mt-28 px-8">
    <div class="flex flex-col items-center sm:items-start sm:grid sm:grid-cols-2 gap-12">
      <div class="h-80 w-80 sm:justify-self-end object-fill rounded shadow-md shadow-night" >
        <Image src={portraitImg} alt="mai nguyen" class="h-full w-full sm:justify-self-end object-cover rounded" />
      </div>
      <div class="prose max-w-prose">
        <h1 class="mb-8">Meet the Owner - Mai Nguyen</h1>
        <p>Licensed Aesthetician certified in oncology-safe esthetics</p>
        <p class="mx-auto">
          I am Mai, owner of Enzo Glow!
          I take pride in helping individuals of all skin types achieve visible results with a gentle, holistic, and science-proven approach. 
        </p>
        <p>
          Here at Enzo Glow, we believe custom-tailored services are essential!
          Our goal is to educate every step of the way so that you can take care of your skin based on your lifestyle, medical status, and environmental factors.
          It is not about perfection—it is about experiencing self love, commitment, and pride from your treatments and home care.
          We want you to love the skin that you are in!
        </p>
        <p>
          In my free time, I enjoy ice skating and calligraphy.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
