---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Accordion from "@/components/Accordion.astro";
import AccordionItems from "@/components/AccordionItems.astro";

const faqBookingEntries = await getCollection("faq", ({ id }) => {
  return id.startsWith("booking/");
});
const faqServicesEntries = await getCollection("faq", ({ id }) => {
  return id.startsWith("services/");
});
const faqProductsEntries = await getCollection("faq", ({ id }) => {
  return id.startsWith("products/");
});

const pageTitle = "FAQs";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="w-full flex flex-col mx-auto max-w-prose mt-28 px-8">
    <h1 class="mb-8">Frequently Asked Questions</h1>
    <Accordion>
      <section class="mb-12">
        <h2 class="text-4xl">Booking</h2>
        <AccordionItems items={faqBookingEntries} indOffset={0} />
      </section>
      <section class="mb-12">
        <h2 class="text-4xl">Services</h2>
        <AccordionItems items={faqServicesEntries} indOffset={10} />
      </section>
      <section class="mb-12">
        <h2 class="text-4xl">Products</h2>
        <AccordionItems items={faqProductsEntries} indOffset={10} />
      </section>
    </Accordion>
  </div>
</BaseLayout>
