---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";

import LinkHomePage from "@/components/LinkHomePage.astro";

import heroImg from "@/assets/hero.jpg";
import enzoGlowLogo from "@/assets/Enzo-Glow-Logo.svg";

import ServiceCardGrid from "@/components/ServiceCardGrid.astro";
---

<BaseLayout>
  <section class="relative">
    <Image src={heroImg} alt="hero" class="h-dvh w-full object-cover"/>
    <div class="absolute inset-0 h-full w-full bg-black opacity-70">
    </div>
    <div class="absolute inset-0 h-full w-full flex flex-col justify-center items-center">
      <Image src={enzoGlowLogo} alt="enzo glow logo" class="h-32 w-min my-2" />
      <div class="flex flex-col gap-4">
        <LinkHomePage href="/enzo-glow-test/services" text="Services" />
        <LinkHomePage href="/enzo-glow-test/contact" text="Book Now" />
      </div>
    </div>
  </section>
  <section class="flex flex-col items-center gap-6 p-8">
      <h2 class="text-6xl text-center">Glow with Enzo.</h1>
      <div class="prose max-w-prose">
        <p>
          Skin care does not have to be complicated!
          Allow us at Enzo Glow to simplify the process for you through education and suggestions that fit your lifestyle, skin concerns, and budget.
          We focus on quality ingredients and product formulations, and we pay attention to technique, efficacy, and breakthroughs from research and development.
        </p>
      </div>
      <div class="flex flex-col sm:flex-row gap-6">
      <LinkHomePage href="/enzo-glow-test/about" text="About" />
      <LinkHomePage href="/enzo-glow-test/contact" text="Book Now" />
      </div>
  </section>
  <section class="bg-taupe flex flex-col items-center gap-6 p-8">
    <h2 class="text-6xl text-center">Services</h2>
    <ServiceCardGrid />
    <LinkHomePage href="/enzo-glow-test/services" text="Explore Our Services" />
  </section>
  <section class="flex flex-col items-center gap-6 p-8">
      <h2 class="text-6xl text-center">Special Treatments</h2>
      <div class="prose max-w-prose">
        <p>
          Enzo Glow specializes in non-invasive treatments to minimize recovery time and provide a relaxing experience.
          We believe in covering every detail and thorough consultations in order to curate the best session for you!
        </p>
        <p>
          We proudly offer oncology-approved services for those undergoing cancer treatment with certification from Oncology Spa Solutions.
          Through training and licensed practice, we aim to reduce contradicting medical therapies and possible side effects.
          Enzo Glow also collaborates with medical professionals to work in tandem with your treatments and schedules.
        </p>
      </div>
    <LinkHomePage href="/enzo-glow-test/contact" text="Book Now" />
  </section>
  <section class="bg-taupe flex flex-col items-center gap-6 p-8">
    <h2 class="text-6xl text-center">Quality Products</h2>
    <div class="max-w-prose">
      <p>Enzo Glow proudly uses professional Korean skin care lines, which prioritize gentle process that allow the skin to glow with health!</p>
    </div>
    <div class="grid grid-rows-3 grid-cols-1 sm:grid-rows-1 sm:grid-cols-3 divide-y sm:divide-y-0 sm:divide-x divide-light/50">
      <p class="text-xl max-w-72 text-center p-8">Gentle, naturally-derived products</p>
      <p class="text-xl max-w-72 text-center p-8">Clinically proven and backed by research</p>
      <p class="text-xl max-w-72 text-center p-8">Focus on preventative skin care</p>
    </div>
    <LinkHomePage href="/enzo-glow-test/services" text="Contact Us" />
  </section>
</BaseLayout>
