---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Policies";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="mx-auto max-w-prose prose mt-28 mb-16 px-8">
    <h1 class="mb-8">{pageTitle}</h1>
    <article class="mb-12">
      <h2 class="font-sans mb-2">Intake and Consent Forms</h2>
      <p class="mb-8">
        All intake forms must be completed at least 24 hours in advance to help
        us prepare for you. A client consent form will be completed and signed
        at the first appointment.
      </p>
    </article>
    <article class="mb-12">
      <h2 class="font-sans mb-2">What to Wear To Your Appointment</h2>
      <p>
        It is preferable that you wear a tank top with a low neckline to allow
        us to address the neck, upper shoulders, arms, and hands.
      </p>
      <p>
        If you are receiving a body-focused session, we ask that you wear loose
        clothing that is easy to keep out of the way during the appointment.
      </p>
    </article>
    <article class="mb-12">
      <h2 class="font-sans mb-2">Deposits</h2>
      <p>
        The deposits are required to book all facial appointments and will be
        applied towards the service total at checkout.
      </p>
    </article>
    <article class="mb-12">
      <h2 class="font-sans mb-2">Late Arrivals</h2>
      <p>
        In order to stay on schedule for all of our clients, we ask that you
        arrive at least 5 minutes early to get settled in, use the restroom, or
        drink some water before your appointment.
      </p>
      <p>
        If you will be late, please give us a call or a text to let us know when
        to expect you. If you will be more than 10 minutes late, we will give
        you the option to reschedule and have your deposit applied to that
        appointment instead.
      </p>
      <p>
        Chronic late arrivals prevent us from being able to give you the best
        experience, and lost time will not be made up beyond the scheduled
        appointment time.
      </p>
    </article>
    <article class="mb-12">
      <h2 class="font-sans mb-2">Cancellations</h2>
      <p>
        Cancellations requested more than 24 hours prior to the appointment will
        have the deposit refunded. All cancellations made within less than 24
        hours of scheduled appointments will forfeit the deposit.
      </p>
      <p>
        Appointments rescheduled within 24 hours from the appointment will have
        the option to apply the deposit to the new appointment and will be
        redeemed at time of checkout.
      </p>
      <p>
        Our products, equipment, and time in the office is valuable, so we ask
        that you communicate with us as best as you can. There will be reminders
        leading up to your appointment to give you the opportunity to reschedule
        if needed.
      </p>
      <p>
        Chronic last minute cancellations will not be allowed to book future
        appointments.
      </p>
    </article>
    <article class="mb-12">
      <h2 class="font-sans mb-2">No Shows</h2>
      <p>
        In the case of a no-show, Enzo Glow will charge your card on file for
        the full amount of the service and notify you beforehand.
      </p>
      <p>
        We understand that emergencies happen, and will always make an effort to
        accommodate you at another time if we are able to directly contact you.
      </p>
      <p>Chronic no-shows will not be allowed to book future appointments.</p>
    </article>
  </section>
</BaseLayout>
